<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>editor_engine</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetImage</display-name>
    <servlet-name>GetImage</servlet-name>
    <servlet-class>com.whty.editor.engine.GetImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImage</servlet-name>
    <url-pattern>/GetImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.whty.editor.engine.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateImage</display-name>
    <servlet-name>CreateImage</servlet-name>
    <servlet-class>com.whty.editor.engine.CreateImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateImage</servlet-name>
    <url-pattern>/createimage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Service</display-name>
    <servlet-name>Service</servlet-name>
    <servlet-class>com.whty.editor.engine.Service</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Service</servlet-name>
    <url-pattern>/service</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Editor</display-name>
    <servlet-name>Editor</servlet-name>
    <servlet-class>com.whty.editor.engine.Editor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editor</servlet-name>
    <url-pattern>/editor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tick</display-name>
    <servlet-name>Tick</servlet-name>
    <servlet-class>com.whty.editor.engine.Tick</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tick</servlet-name>
    <url-pattern>/tick</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mathml2Internal</display-name>
    <servlet-name>Mathml2Internal</servlet-name>
    <servlet-class>com.whty.editor.engine.Mathml2Internal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mathml2Internal</servlet-name>
    <url-pattern>/mathml2internal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Expression</display-name>
    <servlet-name>Expression</servlet-name>
    <servlet-class>com.whty.editor.engine.Expression</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Expression</servlet-name>
    <url-pattern>/grammar/Expression</url-pattern>
  </servlet-mapping>
</web-app>